
@{
    ViewBag.Title = "EmployeeChangePassword";
    Layout = "~/Views/Shared/_EmployeeTemplate.cshtml";
}

@*<h2 align="center">EmployeeChangePassword</h2>*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EmployeeChangePassword</title>
    <style>
        table {
            color: #ffffff;
            border-collapse: collapse;
        }

        td {
            color: #ffffff;
            padding-top: .5em;
            padding-bottom: .5em;
        }

        body {
            color: #ffffff;
            font-weight: 800;
        }
    </style>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $(document).on('keydown', '#txtNewPassword', function (e) {
            if (e.keyCode == 32) return false;
        });
        $(document).on('keydown', '#txtConfirmPassword', function (e) {
            if (e.keyCode == 32) return false;
        });
        $(document).ready(function () {
            $("#changepassword").validate({
                rules: {
                    txtOldPassword:
                        {
                            required: true,
                        },


                    txtNewPassword:
                       {
                           required: true,
                           pwcheck: true,
                           minlength: 6,
                           maxlength: 14

                       },
                    txtConfirmPassword:
                     {
                         required: true,
                         equalTo: "#txtNewPassword",

                     },

                },
                messages: {
                    txtOldPassword:
                        {
                            required: "Please enter valid old password",
                            minlength: "Minimum Six characters needed",
                            maxlength: "Can't exceed Fourteen characters",
                            pwcheck: "One Uppercase,special character,number is must"

                        },

                    txtNewPassword:
                        {
                            required: "Please enter password",
                            minlength: "Minimum six characters needed",
                            maxlength: "Can't exceed fourteen characters",
                            pwcheck:"One Uppercase,special character,number is must"

                        },
                    txtConfirmPassword:
                    {
                       required: "Please re enter Password",
                        equalTo: "Password not matching"
                    },
               },

            });
        });

        $.validator.addMethod("pwcheck", function(value) {
            return /^(?=.*[A-Z])(?=.*\d)(?=.*[$@@$!%*?&])[A-Za-z\d$@@$!%*?&]/.test(value)
       && /[A-Z]/.test(value)
       && /\d/.test(value)



});
    </script>

</head>
<body>

    @using (Html.BeginForm("EmployeeChangePassword", "Employee", FormMethod.Post, new { @id = "changepassword" }))
    {
        <h3 align="center" font-size:large;font-family:Britannic">Fill the following details and change your password</h3>

        <table style="margin-left:500px">
            <tr>

                <td><p class="class1">Enter Old Password &nbsp;&nbsp;</p></td>
                <td>@Html.Password("txtOldPassword", "", new { @class = "text-primary" })</td>
            </tr>

            <tr>

                <td><p class="class1">Enter New Password&nbsp;&nbsp;</p></td>
                <td>@Html.Password("txtNewPassword", "", new { @class = "text-primary" })</td>
            </tr>
            <tr>
                <td><p class="class1">Confirm Password&nbsp;&nbsp;</p></td>
                <td>@Html.Password("txtConfirmPassword", "", new { @class = "text-primary" })</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="SUBMIT" name="btn" class="btn btn-primary my-btn"  /></td>
                <td>
                <td><p style="color:red">@ViewData["up"]</p></td>
                <td>@ViewData["exception"]</td>
                   
                
            </tr>
            

        </table>

    }


    <div>
    </div>
</body>
</html>


