@model List<PleaseStayWithUs.Data_Access_Layer.Employee>

@{
    ViewBag.Title = "EmployeeDetails";
    Layout = "~/Views/Shared/_ManagerTemplate2.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 5);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}

<h2 align="center">Employee Details</h2>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        td
        { 
            padding-top:.5em;
            padding-bottom:.5em;
               
        }
    </style>
    <script>
        $(function () {
            try
            {
                var dir = $('#dir').val();
                var col = $('#col').val();
                var header = $("th a[href=" + col + "] ");
                if(dir=="Ascending"){
                    header.text(header.text()+"3")
                }
                if (dir == "Descending") {
                    header.text(header.text() - "2"); }
            }

            catch (e)
            { }
        })
    </script>
</head>
<body>
    <div class="container">
        
        
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="#" class="navbar-brand"></a>
                </div>
                <div class="collapse navbar-collapse">
                    @using (Html.BeginForm("EmployeeDetails", "Manager", new { @class = "navbar-form navbar-left" }))
                    {
                        
                        <div>@ViewData["exception"]</div>
                        <div class="form-group">
                            <table><tr><td><input type="text" id="txtsearch" name="txtsearch" placeholder="search" size="30" class = "text-primary" /></td><td>&nbsp;&nbsp;</td><td><input type="submit" value="Search" name="Search" class="btn btn-primary my-btn" width="100" /></td></tr></table>
                            
                           
                        </div>
                       
                    }
                </div>
            </div>
        
        <div>
            @grid.Table(
tableStyle: "table table-responsive table-bordered",
columns: grid.Columns(
grid.Column(columnName: "UserID", header: "Employee ID"),
grid.Column(columnName: "Name", header: "Employee Name"),
grid.Column(columnName: "Gender", header: "Employee Gender"),
grid.Column(columnName: "EmailID", header: "Email ID"),
grid.Column(columnName: "UserName", header: "User Name")
)

)

            <div class="row">
                <div class="col-sm-6">
                    @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
                </div>
            </div>
            @Html.Hidden("dir", grid.SortDirection)
            @Html.Hidden("col", grid.SortColumn)
        </div>
    </div>
</body>
</html>

