@model IEnumerable<PleaseStayWithUs.Data_Access_Layer.Cours>

@{
    ViewBag.Title = "CousreList";
    Layout = "~/Views/Shared/_LoginTemplate2.cshtml";
    var grid = new WebGrid(canPage: true, rowsPerPage: 5);
    grid.Bind(source: Model, rowCount: ViewBag.TotalRows, autoSortAndPage: false);
}



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        table
        {
             color: #ffffff;
            border-collapse:collapse;
        }
        td
        { color: #ffffff;
            padding-top:.5em;
            padding-bottom:.5em;
               
        }
        
        body{
           color: #ffffff;
    font-weight:800;
        }
    </style>
    <script>
        jQuery.validator.addMethod("lettersonly", function (value) { return /^[A-Z0-9]+$/i.test(value); });
        $(document).on('keydown', '#txtPassword', function (e) {
            if (e.keyCode == 32) return false;
        });
        $(document).ready(function () {
            $("#form1").validate({
                rules: {
                    txtUserID:
                     {
                         required: true,
                        

                     },

                    txtPassword:
                        {
                            required: true,
                        },


                },
                messages: {

                    txtUserID:
                     {
                         required: "Please enter user id",
                        
                     },

                    txtPassword:
                        {
                            required: "Please enter password",
                            

                        },

                },
                

            });
        });
    </script>
    <script>
        $(function () {
            try
            {
                var dir = $('#dir').val();
                var col = $('#col').val();
                var header = $("th a[href=" + col + "] ");
                if(dir=="Ascending"){
                    header.text(header.text()+"3")
                }
                if (dir == "Descending") {
                    header.text(header.text() - "2"); }
            }

            catch (e)
            { }
        })
    </script>
</head>
<body>

    @using (Html.BeginForm(@*"CourseList", "Login", FormMethod.Post, new { @id = "form1" }*@))
    {
        <br /><br />
        
        <div>

            <table style="margin-left:550px;margin-top:0px;">
                <tr>

                    <td>User ID*&nbsp;&nbsp;</td>
                    <td>
                        @Html.TextBox("txtUserID", null, new { @class = "text-primary" })
                    </td>
                </tr>

                <tr>
                    <td>Password*&nbsp;&nbsp;</td>
                    <td>@Html.Password("txtPassword", null, new { @class = "text-primary" })</td>

                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Signin" name="btn" class="btn btn-primary my-btn"></td>
                    <td><p style="color:red"> @ViewData["error"]</p></td>
                </tr>
                </table>
            <table style="margin-left:550px">
                <tr>
                    <td></td>

                    <td>@Html.ActionLink("Forgot Password?", "MyQuestion", "Login", new
                   { @*@class = "btn btn-primary my-btn2"*@ }) &nbsp; &nbsp; &nbsp;</td> 


                    <td>@Html.ActionLink("Register Here", "EmployeeLogin", "Login", new
                   { @*@class = "btn btn-primary my-btn2"*@ })</td>
                </tr>


            </table>
        </div>

    }
    <div align="right">
        <div @*class="container"*@>

            <nav @*class="navbar"*@>
                <div @*class="container-fluid"*@>
                    <div @*class="navbar-header"*@>
                        <a @*href="#" class="navbar-brand"*@></a>
                    </div>
                    <div class="collapse navbar-collapse" align="right">
                        @using (Html.BeginForm("CourseList", "Login",new { @class = "navbar-form navbar-left" }))
                        {
                            
                        }
                    </div>
                </div>
            </nav>
            <div>
                @grid.Table(
tableStyle: "table table-responsive",
columns: grid.Columns(
grid.Column(columnName: "CourseName", header: "Course Name"),
grid.Column(columnName: "DomainName", header: "Domain Name"),
grid.Column(columnName: "Session", header: "Session"),
grid.Column(columnName: "StartDate", header: "Start Date", format: @<text>@item.StartDate.ToString("MM-dd-yyyy")</text>),
grid.Column(columnName: "Enddate", header: "End Date", format: @<text>@item.EndDate.ToString("MM-dd-yyyy")</text>)
)

)

                <div class="row">
                    <div class="col-sm-6">
                        @grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-small pagination-right")
                    </div>
                </div>
                @Html.Hidden("dir", grid.SortDirection)
                @Html.Hidden("col", grid.SortColumn)
            </div>
        </div>
    </div>
</body>
</html>
